body{
    margin: 0;
}
.container{
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    background: #111d4a;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.main{
    padding: 10px;
   
}


.card-img{
    object-fit: cover;
    flex-basis: 200px;
    min-width: 0;
    min-height: 0;
}

.main-title{
    font-family: 'Blinker', sans-serif;
    font-size: 1.75rem;
    font-weight: 700;
    color: #05cbe9;
    margin: 0;
}

.main-body{
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.6;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 20px;
    width: 100%;

}

.card-read-time {
    font-size: 1.1875rem;
    opacity: .6;
    margin: 0;
}

.card-read-time span{
    font-size: 1.75rem;
    font-weight: 700;
    display: block;
}

.btn{
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 1.6;
    text-decoration: none;
    background: #05CBE9;
    color: #111D4A;
    padding: 10px 20px;

}

@media (min-width:600px){
    .container{
        flex-direction: row;
    }

    .card-img{
        width: 300px;
    }

    .main{
        display: flex;
        flex-direction: column;
        width: 100%;
      
    
    }

    .main-body {
        font-size: 1.125rem;
        max-width: 500px;
    }

   .footer{
        margin-top: auto;
        width: 100%;
       

   }
    
  
}
